// Variables
$color-primary-red: hsl(0, 100%, 74%);
$color-primary-green: hsl(154, 59%, 51%);
$color-accent-Blue: hsl(248, 32%, 49%);
$color-text-main: #fff;
$color-input-text-dark-blue: hsl(249, 10%, 26%);
$color-secondary-text-grayish-blue: hsl(246, 25%, 77%);

$base-font-size: 1em;
$base-font-family: 'Poppins', sans-serif;