@import url(/assets/css/normalize.css);
@import 'general';
@import 'variables';

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $color-text-main;

    background: url(/assets/images/bg-intro-mobile.png);
    background-color: $color-primary-red;
}

main {
    margin: 5em 2em;
}

.wrap-text {
    text-align: center;
    line-height: 2.3em;

    h1 {
        font-size: 1.7em;
    }
    p {
        font-weight: 400;
        line-height: 1.6em;
    }
}