@import url(/assets/css/normalize.css);
@import 'general';
@import 'variables';

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $color-text-main;

    background: url(/assets/images/bg-intro-mobile.png);
    background-color: $color-primary-red;
}

main {
    margin: 5em 2em 1em;
}

/* Main text */
.wrap-text {
    text-align: center;
    line-height: 2.3em;

    h1 {
        font-size: 1.7em;
    }
    p {
        font-weight: 400;
        line-height: 1.6em;
    }
}

/* Form */
h2 {
    background: $color-accent-Blue;
    padding: 1em 3em;
    margin: 4em 0 1.8em;

    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
    text-align: center;

    strong {
        font-weight: 600;
    }
}

form {
    background: $color-text-main;
    padding: 1.5em;
}

h2, form {
    border-radius: 0.7em;
    box-shadow: 0 0.5em transparentize(#222, 0.85);
}

input {
    font-weight: 500;
    max-width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 0 0.5em 0.8em;
    border: 1px solid $color-secondary-text-grayish-blue;
}

input, .btn-submit {
    border-radius: 0.3em;
}

.btn-submit {
    background: $color-primary-green;
    color: $color-text-main;
    text-transform: uppercase;
    font-weight: 500;

    width: 100%;
    padding: 1em;
    border: none;

    &:hover, &:focus {
        cursor: pointer;
    }
}

.terms {
    color: $color-secondary-text-grayish-blue;
    font-size: 0.7em;
    font-weight: 400;
    text-align: center;
    line-height: 1.7em;
    padding: 0 1.2em;
}

.terms-link {
    color: $color-primary-red;
    text-decoration: none;
    font-weight: 600;
}

/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
