@import url(/assets/css/normalize.css);
@import 'variables';

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    color: $color-text-main;

    background: url(/assets/images/bg-intro-mobile.png);
    background-color: $color-primary-red;
}
